/* Global */
@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap);
@import "reset.css";

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    * {
        box-sizing: border-box;
    
    }
    /* header */
    .container {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-full {
        width: 1220px;
        margin-left: auto;
        margin-right: auto;

    }
    header {
        padding-top: 56px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        margin-right: 12px;
    }
    .logo span {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        color: #233348;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 1.28;
        color: #233348;
    }
    .nav-list li {
        margin-right:40px ;
       }
    .nav-list li:last-of-type {
        margin-right: 0;
    }
    .Home {
        font-weight: 700;
    }
    /* start main */
    /* section virtual */
    .virtual {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 192px;

    }
    .container-virtual {

    }
    .virtual-img {
        margin-left: 110px;

    }
    .container-virtual h1 {
        font-weight: 700;
        font-size: 48px;
        font-style: normal;
        line-height: 1.17;
        color: #000000;
        margin-bottom: 25px;

    }
    .container-virtual p {
        font-weight: 300;
         font-size: 21px;
         font-style: normal;
         line-height: 1.52;
         color: #7D7987;
         margin-bottom: 45px;
    }

    .button {
       min-width: 200px;
       font-weight: bold;
       font-size: 18px;
       line-height: 1.1;
       font-family: inherit;
       border-radius: 55px;
       border: 1px solid #458FF6;
       padding: 20px;
       text-align: center;
       background-color: white;
        
    }
    .button-fill {
        background-color: #458FF6;
        color: white;
    }
        /* end section virtual */
        /* start section services */
        .services {
            margin-bottom: 69px;
        }
            
             
         .services h2 {
            font-size: 36px;
            line-height: 1.56;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            margin-top: 0;
            margin-bottom: 26px;
            text-align: center;
           
            
        }
        .services h2::after {
            content: ' ';
            display: block;
            width: 56px;
            height: 2px;
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 28px;
        }
        .services-text {
            font-size: 18px;
            line-height: 1.67;
            font-style: normal;
            text-align: center;
            color: #7D7987;
            margin-bottom: 80px;
            width: 950px;
            margin-left: 80px;
        }
        .li-services h3 {
            font-size: 24px;
            line-height: 2.33;
            font-weight: 700;
            font-style: normal;
        }
        .services-list {
            font-size: 16px;
            line-height: 1.75;
            font-style: normal;
            font-weight: 300;
        }
        .text-center {
            display: flex;
            justify-content: center;
        }
        .ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .ul li {
            width: 350px;
            background-color: white;
            margin-bottom: 37px;
            border-radius: 20px;
            overflow: hidden;
            padding: 46px 38px;
        }
        .ul img {
            height: 90px;
            margin-bottom: 20px;
        }
        .ul li:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
        .text-center a {
            text-align: center;
           
        }
        .button {
            min-width: 200px;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.1;
            font-family: inherit;
            border-radius: 55px;
            border: 1px solid #458FF6;
            padding: 20px;
            text-align: center;
            color: #458FF6 ;
        }
        .button-fill {
            background-color:#458FF6;
            color: white;
            min-width: 200px;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.1;
            font-family: inherit;
            border-radius: 55px;
            border: 1px solid #458FF6;
            padding: 20px;
            text-align: center;
        }
        /* end section services */
        /* start section leading */
        .leading {
            margin-bottom: 229px;
            margin-top: 220px;
           display: flex;
           justify-content: space-between;
          align-items: center;
        }
        .leading h2 {
            font-weight: 700;
            font-size: 36px;
            font-style: normal;
            line-height: 1.56;
            width: 481px;
        }
        .leading h2::after {
            content: ' ';
            display: block;
            width: 56px;
            height: 2px;
            background-color: black;
            margin-top: 28px;
            margin-bottom: 31px;

        }
        .leading p {
            font-weight: 300;
            font-size: 18px;
            font-style: normal;
            line-height: 1.67;
            color: #7D7987;
            margin-bottom: 61px;
            width: 450px;
        }
            .leading-img {
                margin-right:142px;
            }
        
        .button {
            min-width: 200px;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.1;
            font-family: inherit;
            border-radius: 55px;
            border: 1px solid #458FF6;
            padding: 20px;
            text-align: center;
            color: #458FF6 ;
        }

        /* end section leading */
        /* start section download */
        .download {
            margin-bottom: 266px;
            display: flex;
           justify-content: space-between;
          align-items: center;
        }
        .download h2 {
            font-weight: 700;
            font-size: 36px;
            font-style: normal;
            line-height: 1.56;
            width: 254px;
        }
        .download h2::after {
            content: ' ';
            display: block;
            width: 56px;
            height: 2px;
            background-color: black;
           
            margin-top: 30px;
            margin-bottom: 31px;

        }
        .download p {
            font-weight: 300;
            font-size: 18px;
            font-style: normal;
            line-height: 1.67;
            color: #7D7987;
            margin-bottom: 61px;
            width: 420px;
        }
            .download-img {
             margin-left: 71px;
            }
        
        .button {
            min-width: 200px;
            font-weight: bold;
            font-size: 18px;
            line-height: 1.1;
            font-family: inherit;
            border-radius: 55px;
            border: 1px solid #458FF6;
            padding: 20px;
            text-align: center;
            color: #458FF6 ;
        }
        /* end sectiondownload */
        /*  start footer */
        footer {
          background-color:#5A98F2;
          color: white;
          padding-top: 118px;
          padding-bottom: 112px;
        }
        .footer-container {
            display: flex;
            justify-content: space-between;           
        }
        .navigation {
         
        }
        footer a {
            color: inherit;
        }
        .credentials {
            width: 392px;

        }
        .credentials p {
            font-size: 18px;
            font-style: normal;
            line-height: 1.56;
            margin-bottom: 31px;

        }
        .text-small {
            font-weight: 300;
            font-size: 16px;
            font-style: normal;
            line-height: 1.75

        }
        .credentials .logo-white {
            margin-bottom: 21px;
        }
        .footer-container span {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            color: white;
        }
        
        }
        .navigation h3 {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.1;
        }
        .navigation li a{
            font-size: 18px;
            font-weight: 300;
            line-height: 2.11;
        }
        .navigation li {
            
        }


        
       